:root {
  /* color stuff */

  --background-black: rgb(27, 24, 24);
  --background-darkest: rgb(14, 17, 14);
  --background-dark: rgb(24, 24, 29);
  --background: rgb(46, 46, 51);
  --opacity-dark: rgba(0, 0, 0, 0.2);
  --foreground: rgb(228, 228, 222);
  --impact: #0ff;
  --impact-secondary: #f0f;
  --negative: #c00;
  --neutral: #cc0;
  --positive: #0c0;
  --tt1: #dd0;
  --tt2: #0d0;
  --tt3: #0dd;
  --tt4: #00d;
  --tt5: #d00;
  --tt6: #ddd;

  /* what goes where stuff */
  /* unfinished */

  /* --button-bg
  --button-press-bg
  --input-bg
  --input-focus-bg */

  /* sizing stuff */

  --header-height: 4rem;
  --tab-width: 20rem;
  --header-horizontal-spacing: 0.5rem;
  --border-thickness: 4px;
  --input-border: var(--border-thickness) solid;
  --tab-indent: 0.5rem;

  /* animation timing stuff */
  --animation-delay: 0s;
  --animation-duration: 0.2s;
}

/* roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

.App {
  text-align: center;
}

body {
  font-family: "icon-font", "Roboto", sans-serif;
  font-size: 16px;
  color: var(--foreground);
}

#grid-container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: var(--tab-width) auto;
  grid-template-rows: var(--header-height) auto;
}
#tabs-container {
  grid-column: 1;
  grid-row: 2;
  background-color: var(--background-darkest);
}
.tabs-header-container {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--background-darkest);
  padding: 0;

  display: flex;
  justify-content: space-between;
  /* padding: var(--header-horizontal-spacing); */
  align-items: center;
}
.tabs-header-container input,
select {
  background-color: var(--background-darkest);
  color: var(--foreground);
  /* padding: var(--header-horizontal-spacing); */
  height: 100%;
  width: 100%;
  /* margin: 0 calc(var(--header-horizontal-spacing) / 1); */
  border: 0;
  /* padding-left: calc(var(--header-horizontal-spacing) * 2); */
  /* padding: 0.5rem; */
}
/* .tabs-header-container input,
select {
  background-color: var(--background-darkest);
} */

/* #tab-item #tab-item {
  display: none;
} */

.tabs-header-container input:focus,
select:focus {
  outline: none;
}

.tab-item {
  padding: var(--header-horizontal-spacing)
    calc(var(--header-horizontal-spacing) * 2);
  width: auto;
  height: 4rem;
  background-color: var(--background-dark);

  /* background-color: #0c0; */

  border-bottom: var(--border-thickness) solid var(--background-darkest);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is-child {
  /* color: var(--impact); */
  /* display: none; */
}

.is-child > div > .arrow > svg {
  /* color: var(--impact); */
  display: none;
}

.tab-together-item > .child > div > .tab-together-item {
  /* margin-left: 8px solid; */
  border-left: solid calc(2 * var(--tab-indent)) var(--background-darkest);
}

.open svg {
  /* margin-left: 8px solid; */
  transform: rotate(90deg);
}

.circle-bg {
  background-color: var(--background-darkest);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}
#header-container {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--background-darkest);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--header-horizontal-spacing);
}
#body-container {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--background-black);
}
button {
  /* padding: 0 1rem; */
  margin: var(--header-horizontal-spacing);
  border: 0;
  padding: 1rem;
  margin: 0;
  background-color: var(--background-darkest);
  color: var(--foreground);
}
svg {
  font-size: 1.5rem;
  fill: var(--foreground);
}
/* <div id="tabs-container">t1</div><div id="tabs-header-container">t2</div><div id="header-container">h</div><div id="body-container">body</div> */
