:root {
  --background-header: #f00;
  --background-main: #0f0;
  --background-secondary: #00f;
  --foreground: #ff0;
  --impact: #0ff;
  --impact-secondary: #f0f;
  --negative: #c00;
  --neutral: #cc0;
  --positive: #0c0;
  --tt1: #dd0;
  --tt2: #0d0;
  --tt3: #0dd;
  --tt4: #00d;
  --tt5: #d00;
  --tt6: #ddd;
}

.App {
  text-align: center;
}
#grid-container {

  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 16rem auto;
  grid-template-rows: 3rem auto;
}
#tabs-container {
  grid-column: 1;
  grid-row: 2;
  background-color: var(--background-secondary);
}
#tabs-header-container {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--background-main);
}
#header-container {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--background-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
}
#body-container {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--background-main);
}

     /* <div id="tabs-container">t1</div><div id="tabs-header-container">t2</div><div id="header-container">h</div><div id="body-container">body</div> */